.project-name{
	font-weight: bolder !important;
	font-size: 150px;
}

.message-side-options{
	width: 100% !important;
	text-align: left;
}

.message-group-header{
	width: 50% !important;
	font-size: 130% !important; 
	font-weight: bolder !important;
}

.message-group-sub{
	width: 100%;
	text-align: left;
	padding-left: 50px;
}

.second-td-size{
	width: 20%;
	text-align: right;
	padding-right: 20px;
}

.first-td-size{
	width: 20%;
	text-align: left;
	padding-left: 35px; 
}



.email-tel{
	display: inline !important;
	font-size: 26px !important;
	text-align: left !important;
	padding-left: 30px !important;
}